@font-face {
    font-family: 'Minecraft';
    /* src: url('/Fonts/IThinkImTurningJapanese-m2K2.ttf'); */
    src: url(Fonts/minecraft-font/MinecraftRegular-Bmg3.otf);
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #333;
    color: white;
    font-family: Minecraft;
    text-align: center;
}

#leaderboards{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    flex-wrap: wrap;
}

.leaderboard {
    background-color: #222;
    border: 1.25px solid #00ff08;
    /* border-radius: 8px;
    max-width: 25vw;
    height: 250vh; */
    min-width: 450px;
    /* max-width: 33vw; */
    height: 900px;
    margin-top: 1dvh;
    margin-bottom: 1dvh;
    margin-left: 1dvw;
    margin-right: 1dvw;
}

.leaderboard-title {
    color: #54FC39;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.leaderboard-subtitle {
    color: #AAAAAA; 
    margin: 0 0 1.5vh 0;
    text-align: center;
}

#Podium_Container{
    /* position: relative;
    width: 25vw;
    height: 50vh;
    justify-content: center;
    align-items: end;
    margin-top: 30vh; */
    width: 100%;
    height: 70%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
}

#podium {
    aspect-ratio: 238 / 223;
    max-width: 95%;
    max-height: 60%;
    grid-area: 1 / 1;
    margin-top: auto;
    /* grid-row-start: 1;
    grid-column-start: 1;
    width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    z-index: 0; */
}

.charactermodel{
    aspect-ratio: 1 / 2;
    grid-area: 1 / 1;
    max-height: 40%;
}

#First_place_baltop {
    /* grid-row-start: 1;
    grid-column-start: 1;
    position: relative;
    z-index: 1 ;
    width: 6vw;
    margin-left: auto;
    margin-right: auto; */
    /* transform: translate(0,-75%); */
    transform: translate(0, -75%);
}

#Second_place_baltop {
    /* grid-row-start: 1;
    grid-column-start: 1;
    width: 6vw;
    position: relative;
    z-index: 1 ; */
    transform: translate(97%, -32%);
}

#Third_place_baltop {
    /* grid-row-start: 1;
    grid-column-start: 1;
    width: 6vw;
    position: relative;
    z-index: 1 ;*/
    transform: translate(-100%, 15%);
}

#podium_text_flex_box{
    width: 95%;
    display: grid;
    grid-template-columns: 5% 30% 30% 30% 5%;
    grid-template-rows: 14pt 14pt;
}

.Podium_text_children {
    width: auto;
    height: 3vh;
    text-align: center;
}

.First_row{
    grid-row: 1;
}

.second_row{
    grid-row: 2;
    color: greenyellow;
    font-size: 12pt;
}

#First_place_text {
    grid-column-start: 3;
    Color: cyan;
    font-size:14pt;
}

#Second_place_text{
    grid-column-start: 4;
    Color: gold;
    font-size: 14pt;
}

#Third_place_text{
    grid-column-start: 2;
    Color: #B87333;
    font-size: 14pt;
}

#First_place_subtext {
    grid-column-start: 3;
}

#Second_place_subtext{
    grid-column-start: 4;
}

#Third_place_subtext{
    grid-column-start: 2;
}

.The_rest{
    text-align: center;
    font-size: 16pt;

}
